<mat-toolbar color="primary">
  <span mat-button><i class="fa-solid fa-film"></i> Cinema</span>
  <span class="spacer"></span>
  <a routerLink="/" mat-button mat-button *ngIf="service.getActiveUser()">
    <i class="fa-solid fa-house"></i> Home
  </a>
  <a routerLink="/search" mat-button mat-button *ngIf="service.getActiveUser()">
    <i class="fa-solid fa-search"></i> Search
  </a>

  <a routerLink="/login" mat-button *ngIf="!service.getActiveUser()">
    <i class="fa-solid fa-right-to-bracket"></i> Sign In
  </a>
  <a routerLink="/user" mat-button *ngIf="service.getActiveUser()">
    <i class="fa-solid fa-user"></i> Profile
  </a>
  <button mat-button *ngIf="service.getActiveUser()" (click)="doLogout()" class="about-right">
    <i class="fa-solid fa-right-from-bracket"></i> Logout
  </button>
</mat-toolbar>



<router-outlet />